.container
each $anime in $animes
    .anime-card
        img(src="http://pm1.narvii.com/7206/fc40bedbf971442e363cb80610e41c8155ae7c65r1-683-960v2_uhq.jpg" width="100px")
        |#{$anime['canonical']}